<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Password Change Confirmation</title>
</head>

<body style="
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      color: #333;
    ">
	<div style="
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      ">
		<table role="presentation" width="100%" cellspacing="0" cellpadding="0" style="
          margin: auto;
          max-width: 600px;
          background-color: #fefdf9;
          padding: 20px;
          border-radius: 10px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        ">
			<tr>
				<td>
					<img src="https://example.com/assets/images/example-1920x720.png" alt="" width="200px"
						height="auto" />
				</td>
			</tr>
			<tr>
				<td style="padding: 10px 0">
					<p style="font-size: 18px; color: #555555">
						Dear, {{customerName}}
					</p>
					<p style="font-size: 18px; color: #555555">Your password for Example has been successfully changed.
						If you did not make this change,
						please contact our support team immediately.</p>
					<p style="font-size: 18px; color: #555555">If you made this change, you can disregard this email.
					</p>
				</td>
			</tr>
			<tr>
				<td style="padding: 10px 0">
					<p style="font-size: 18px; color: #202020">If you made this change, you can disregard this email.
					</p>
				</td>
			</tr>
			<tr>
				<td style="padding: 10px 0">
					<p style="font-size: 18px; color: #555555">
						If you have any concerns or questions or need assistance, feel free to reach
						out to our customer support team at support@example.com.
					</p>
					<p style="font-size: 18px; color: #555555">
						Thank you for choosing Example. Get ready to embark on a journey
						filled with amazing adventures!
					</p>
					<p style="font-size: 18px; color: #555555">Safe travels,</p>
					<p style="font-size: 18px; color: #555555">Example Team</p>
				</td>
			</tr>
		</table>
	</div>
</body>

</html>